# Ignore latex auxiliary files

*.toc

*.gz

*.out

*.lot

*.log

*.lof

*.blg

*.bbl

*.aux

*.pdf

# Ignore editors files

.idea

.vscode
# Ignore build folders

build

cmake-build-*

.vscode/

build/

Scripts/cnf_save

cnf/testCNF/*